---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Projets">
  <h2>Projets</h2>
  <p id="projet"><a href=projet_iot_siteweb.html>Système de Monitoring IoT Local : ESP32, Raspberry Pi et Interface Web Sécurisée</a></p>
</BaseLayout>
