---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Ressources utiles">
  <h2>Ressources utiles</h2>
  <ul class="pdf-list">
    <li>
      <a href="../../public/assets/documents/UbuntuServer_memento.pdf" target="_blank" rel="noopener">
        Mémento Ubuntu - PDF
      </a>
    </li>
  </ul>
</BaseLayout>
